{% extends "auctions/layout.html" %}

{% block body %}

    <h2>Create a new listing</h2>

    <form class="create-listing-form" action="{% url 'create_listing' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-primary" type="submit" value="Create this bid">
        <a class="btn btn-outline-secondary d-inline-flex align-items-center" href="{% url 'index' %}">Go back</a></button>
        {% if message %}
        {{ message }}
        {% endif %}
    </form>

{% endblock %}