{% extends "auctions/layout.html" %}

{% load static %}

{% block body %}
    <h2>Listing: {{ listing.name }}</h2>
    {% if listing.image %}
        <img src="{{ listing.image.url }}" alt="{{ listing.name }}" style="height: 300px; max-width: 80vw">
    {% else %}
        <img src="{% static 'images/no_photo.jpg' %}" alt="No photo" style="height: 300px; max-width: 80vw">
    {% endif %}
    <p class="listing-desc">{{ listing.description }}</p>
    <p class="listing-price"><strong>${{ listing.price }}</strong></p>
    <form action="{% url 'listing' listing.id %}" method="post">
        {% csrf_token %}
        <input class="btn btn-primary" type="submit" value="Add to watchlist">
        {% if message %}
        {{ message }}
        {% endif %}
    </form>
{% endblock %}
