{% extends "auctions/layout.html" %}

{% load static %}

{% block body %}
    <h2>Listing: {{ listing.name }}</h2>
    {% if listing.image %}
        <img src="{{ listing.image.url }}" alt="{{ listing.name }}" style="height: 300px; max-width: 80vw">
    {% else %}
        <img src="{% static 'images/no_photo.jpg' %}" alt="No photo" style="height: 300px; max-width: 80vw">
    {% endif %}
    <p class="listing-desc">{{ listing.description }}</p>
    <p class="listing-price"><strong>${{ listing.price }}</strong></p>

    <h3>Bids:</h3>
    <p>{{ number_bids }} bid(s) so far.
        {% if bidder %}
        Your bid is the current bid.
        {% endif %}
    </p>
    <form class="input-group mb-3" style="width: 50vw" action="{% url 'listing' listing.id %}" method="post">
        {% csrf_token %}
        <input class="form-control" type="number" name="amount" placeholder="Bid">
        <input class="btn btn-outline-secondary" type="submit" name="action" value="Place bid">
    </form>

    <form action="{% url 'listing' listing.id %}" method="post">
        {% csrf_token %}
        <input class="btn btn-primary" type="submit" name="action" value="Add to watchlist">
        {% if message %}
        {{ message }}
        {% endif %}
    </form>
{% endblock %}
